* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 70px;
}
.Marseille {
    color: rgb(251, 255, 0);
}
.aix {
    color: rgb(0, 255, 55);
}
.landou {
    color: red;
}
.dione {
    color: blue;
}
section:hover{
    transform:scale(1.05) ;
    transition: 0.5s;
    text-align: center ;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
   
  }
  h1, h2 {
    color: #333;
  }


  P, li {
    color: #0a0606;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
p {
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
}
p {
    font-weight: bold;
}
p {
    color: rgba(0, 0, 0, 0.801);
}
h1, h2 {
    color: black;
    text-shadow: 2px 2px 4px black;
}
